[Desktop Entry]
Version=1.0
Type=Application
Name=Clean Install SADP
Comment=Limpia e instala desde cero SADP GUI
Exec=bash -lc 'cd "/home/omnifish/Desktop/repo/sadp-hikvision-linux" && ./clean-install.sh'
Path=/home/omnifish/Desktop/repo/sadp-hikvision-linux
Terminal=true
Icon=utilities-terminal
Categories=Utility;Development;
StartupNotify=true
