[Desktop Entry]
Version=1.0
Type=Application
Name=Setup Producción SADP
Comment=Instala SADP GUI en modo producción
Exec=bash -lc 'cd "/home/omnifish/Desktop/repo/sadp-hikvision-linux" && ./setup-produccion.sh'
Path=/home/omnifish/Desktop/repo/sadp-hikvision-linux
Terminal=true
Icon=utilities-terminal
Categories=Utility;Development;
StartupNotify=true
